/* Estilização global */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0; 
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#titulo {
    font-size: 50px;
    color: #efb22f;
    letter-spacing: 10px;
}

#minha_foto {
    width: 300px;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: 1px saddlebrown solid;
}
p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    line-height: 30px;
    color: blue;
    letter-spacing: 1.5px;
}

.container-articles {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.lado-esquerdo, .lado-direito {
    flex :1 ;
    text-align: start   ;
}

.logo-git {
    width: 30px;
}

table {
	width: 90%;
    margin: 0 auto;

}

#rodape {
    text-align: center;
}